/* Card.css */

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  
}

.inn {
  background-color: #f7dada;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.inn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.inn p {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

.inn p:first-child {
  font-size: 18px;
  color: #222;
}
